.pagination-buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.table-header-cell {
  position: relative;
  white-space: nowrap;
}

.table-body {
  display: grid;

  .table-body-row {
    display: flex;
    width: 100%;
    height: 30px;
    content-visibility: auto;
    contain-intrinsic-height: auto 30px;
  }
}

.resizer {
  position: absolute;
  top: 0;
  right: -2px;

  height: 100%;
  width: 4px;

  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  opacity: 1;
}

.ellipsis {
  width: inherit;
  min-width: 0;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
