@if (isFirstLoading()) {
  <p>Загрузка...</p>
} @else {
  <div class="table-wrapper" [class.disabled]="isLoading()">
    <table class="table" [style]="tableStyle()">
      <thead class="table-head">
        @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
          <tr class="table-row">
            @for (header of headerGroup.headers; track header.id) {
              <th
                class="table-header-cell"
                [attr.colspan]="header.colSpan"
                [style.width]="'calc(var(--header-' + header.id + '-size) * 1px)'"
              >
                @if (!header.isPlaceholder) {
                  <button
                    class="table-header-cell-content-wrapper ellipsis"
                    [class.sortable]="header.column.getCanSort()"
                    (click)="header.column.getToggleSortingHandler()?.($event)"
                  >
                    <ng-container *flexRenderHeader="header; let headerCell">
                      {{ headerCell }}
                    </ng-container>

                    {{ header.column.getIsSorted() | appTableWrapperSortIndicator }}
                  </button>

                  <div
                    class="resizer"
                    [class.isResizing]="header.column.getIsResizing()"
                    (dblclick)="header.column.resetSize()"
                    (mousedown)="header.getResizeHandler()($event)"
                    (touchstart)="header.getResizeHandler()($event)"
                  ></div>
                }
              </th>
            }
          </tr>
        }
      </thead>

      <tbody class="table-body">
        @for (row of table.getRowModel().rows; track row.id) {
          <tr class="table-body-row">
            @for (cell of row.getVisibleCells(); track cell.id) {
              <td
                class="table-body-cell"
                [style.width]="'calc(var(--col-' + cell.column.id + '-size) * 1px)'"
              >
                <ng-container *flexRenderCell="cell; let renderCell">
                  {{ renderCell }}
                </ng-container>
              </td>
            }
          </tr>
        }
      </tbody>

      @let footerGroups = table.getFooterGroups();

      @if (footerGroups.length > 1) {
        <tfoot class="table-footer">
          @for (footerGroup of footerGroups; track footerGroup.id) {
            <tr class="table-row">
              @for (footer of footerGroup.headers; track footer.id) {
                <th
                  class="table-footer-cell"
                  [attr.colspan]="footer.colSpan"
                  [style.width]="'calc(var(--header-' + footer.id + '-size) * 1px)'"
                >
                  @if (!footer.isPlaceholder) {
                    <ng-container *flexRenderFooter="footer; let footerCell">
                      {{ footerCell }}
                    </ng-container>
                  }
                </th>
              }
            </tr>
          }
        </tfoot>
      }
    </table>

    <div class="pagination-buttons">
      @for (pageButton of paginationPages(); track $index) {
        <button [disabled]="pageButton === pagination().pageIndex" (click)="setPage(pageButton)">
          {{ pageButton }}
        </button>
      }
    </div>
  </div>
}
